{% extends 'base.html.twig' %}

{% block title %}Create new Category{% endblock %}

{% block bread %}
    → <a href="{{ path('app_category') }}">Category</a>
    → Add Category
{% endblock %}

{% block body %}
{{ include('category/_form.html.twig') }}
{% endblock %}