{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block bread %}
    → Product
{% endblock %}

{% block body %}
{% for product in products %}
    <div>
        <a href="{{ path('app_product_edit', { product: product.id }) }}">{{ product.name }} - {{ product.quantity }} - {{ product.category.name }}</a>
    </div>
{% endfor %}
{% endblock %}
