{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block bread %}
    → Product
{% endblock %}

{% block body %}
{% for product in products %}
    <div>
    {{ product.name }}
    </div>
{% endfor %}
{% endblock %}
