includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:

    level: max

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/console-application.php # Analysis of Symfony Console Commands

    paths:
        - src
        - public
        - tests

    doctrine:
        objectManagerLoader: tests/object-manager.php
        repositoryClass: Doctrine\ORM\EntityRepository


